.youtube-web-page {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap: 20px 30px;
  padding-left: 10px;
  padding-right: 20px;
}


.layout{
  vertical-align: top;
}
.thumbnail{
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  border-radius: 15px;
 
}
.thumbnail-time{
  width: 100%;
  position: relative;
  background-size: cover;
}
.video-time{
  display: flex;
  position:absolute;
  color: white;
  background-color: black;
  bottom:10px;
  right: 6px;
  padding: 2px 3px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto,arial;
  font-weight: 500;
  border-radius: 4px;
}


.video-info{
font-family: Arial, Helvetica, sans-serif;  
}

.channel-profile-info{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}

.profile-pic{
  width: 40px;
  border-radius: 2rem;
  vertical-align: top;
  cursor: pointer;
}
.video-title{
  width: 100%;
  line-height: 20px;
  margin-bottom: 0;
  margin-left: 0px;
  font-size: 16px;
  margin-top:0;
  font-weight: bold;
  cursor: pointer;
  
}
.video-author{
  color: rgb(96,96,96);
  font-size: 14px;
  margin-bottom: 0;
}
.video-stats{
  color: rgb(96,96,96);
  font-size: 14px;
  margin-top: 6px;
}
